* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* -----------------------------HERO SECTION -------------------------------- */


.hero-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    align-items: center;
}

.background {
    background: url(house-8704811.jpg);
}


.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    z-index: -1; 
    object-fit: cover;
    filter: blur(.2px);
}

.heading {
    text-align: center;
    margin-top: 10.5rem;
    color: #F2F2F2;
    font-size: 4rem;
    text-shadow: 5px 5px 5px black;
    font-weight: 900;
}

.sub-heading {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    font-size: 2rem;
    font-weight: 800;
}

.cta-button {
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 9rem;
    color: #F2F2F2;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 600;
    transform: scale(1.2);
    cursor: pointer;
    background-color: #9C6B30;
}

.cta-button:hover {
    transform: scale(1.3);
    transition: ease .25s;
    cursor: pointer;
    background-color: #333333;
}

/* -----------------------------HERO SECTION-------------------------------- */

/* -----------------------------MOBILE SECTION-------------------------------- */

/* ------------------------------------------MOBILE SCREENS-------------------------------------------------------- */
@media (max-width:320px) {
    .heading {
        font-size: 1.4rem;
    }

    .sub-heading {
        font-size: 1rem;
    }

    .cta-button {
        transform: scale(0.6);
        margin-top: 1rem;
    }

    .cta-button:hover {
        transform: scale(0.8);
        background-color: #333333;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .heading {
        font-size: 1.8rem;
    }

    .sub-heading {
        font-size: 1.2rem;
    }

    .cta-button {
        transform: scale(0.8);
        margin-top: 1rem;
    }

    .cta-button:hover {
        transform: scale(0.9);
        background-color: #333333;
    }
}

@media (min-width: 431px) and (max-width: 768px) {
    .heading {
        font-size: 2.5rem;
    }

    .sub-heading {
        font-size: 1.6rem;
    }

    .cta-button {
        transform: scale(1);
        margin-top: 1rem;
    }

    .cta-button:hover {
        transform: scale(1.2);
        background-color: #333333;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .heading {
        font-size: 3rem;
    }

    .sub-heading {
        font-size: 1.8rem;
    }

    .cta-button {
        transform: scale(1);
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .heading {
        font-size: 3.5rem;
    }

    .sub-heading {
        font-size: 2rem;
    }

    .cta-button {
        transform: scale(1);
    }
}

@media (min-width: 1441px) {
    .heading {
        font-size: 4rem;
    }

    .sub-heading {
        font-size: 2.5rem;
    }

    .cta-button {
        transform: scale(1);
    }
}
