/* ----------------------PROPERTIES LIST--------------------- */
.properties-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
  margin: 20px 0;
  padding: 0; 
  overflow-x: hidden; 
}

.property-column {
  flex: 0 0 calc(50% - 10px); 
  margin-bottom: 20px; 
}

.property-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px; 
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80%; 
  margin-left: 10rem;
}


.property-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.property-item img {
  width: 100%;
  height: 400px; 
  object-fit: cover; 
  border-radius: 10px; 
}

/* ----------------------RESPONSIVE DESIGN--------------------- */
@media (max-width: 1024px) {
  .property-column {
    flex: 0 0 calc(50% - 10px); 
  }
}

@media (max-width: 768px) {
  .property-column {
    flex: 0 0 calc(100% - 20px); 
  }

  .property-item {
    height: auto; 
    margin-left: 2.5rem;
  }

  .property-item img {
    height: auto; 
  }
}
