.properties-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
  }
  
  .property-column {
    flex: 0 0 calc(50% - 10px); /* Adjusts to 2 properties per row with spacing */
  }
  
  .property-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 400px; /* Set a fixed height */
    display: flex;
    flex-direction: column; /* Allow items to stack */
    justify-content: space-between; /* Space between items */
  }
  
  .property-item:hover {
    transform: scale(1.05);
  }
  

  .property-item img {
    width: 100%;
    height: 200px; /* Adjust height for better fit */
    object-fit: cover; /* Ensures images are nicely cropped */
  }
  