/* ----------------------PROPERTIES LIST--------------------- */
.properties-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for larger screens */
  gap: 20px;
  margin: 20px 0;
  padding: 0;
  overflow-x: hidden;
}

.property-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; 
}

.property-item:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.property-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.property-info {
  display: flex;
  flex-direction: column; 
  flex-grow: 1; 
}

.buttons-icons {
  display: flex;
  justify-content: flex-end; 
  position: absolute; 
  bottom: 15px; 
  right: 15px; 
  gap: 10px; 
}

.update-icon,
.delete-icon {
  cursor: pointer;
  font-size: 20px;
  color: #4C6A39;
}

/* ----------------------RESPONSIVE DESIGN--------------------- */
@media (max-width: 1024px) {
  .properties-list {
    grid-template-columns: repeat(2, 1fr); /* Still 2 columns for medium screens */
  }
}

@media (max-width: 768px) {
  .properties-list {
    grid-template-columns: 1fr; /* Switch to 1 column for smaller screens */
  }

  .property-item img {
    height: auto;
  }
}
