.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 15rem;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    margin-bottom: 5px;
    color: #555;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-button {
    padding: 10px 15px;
    background-color: #9C6B30;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #804d20;
  }

  .login-button{
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
  }

  .login-button:hover {
    background-color: #616161;
  }

  .back-button{
    margin-top: 10px;
    width: 30%;
    height: 30px;
    background-color: #616161;
    color: white;
    cursor: pointer;
  }

  .back-button:hover{
    background-color: #a0a0a0;

  }