


/* ----------------------NAVBAR--------------------- */
.navbar {
  background-color: #333333;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 10;

}

.logo {
  color: #fff;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: #F2F2F2;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #4C6A39;
}

.navbar img {
  max-width: 65px;
  height: auto;
}

.mobile-menu-icon {
  display: none;
}

.login-signup-container {
  display: flex;
  gap: 10px;
}

.login, .sign-up {
  border: 1.5px solid white;
  background-color: transparent;
  color: #F2F2F2;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.login:hover, .sign-up:hover {
  background-color: #F2F2F2;
  color: #9C6B30;
}

/* Mobile Navigation */
.nav-links-mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #333333;
  z-index: 1;
}

.nav-links-mobile li {
  padding: 15px 0;
  text-align: center;
}

.nav-links-mobile li a {
  font-size: 1rem;
  color: #F2F2F2;
}

@media (max-width: 768px) {
  .mobile-menu-icon {
    display: block;
    font-size: 1.4rem;
    color: white;
  }

  .nav-links {
    display: none; 
  }

  .nav-links-mobile {
    display: flex; 
  }
}

/* ----------------------FILTER SECTION--------------------- */
.filter-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-section select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* ----------------------PROPERTIES LIST--------------------- */
.properties-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 10px;
  margin-bottom: 5rem;
}

.property-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.property-item:hover {
  transform: scale(1.05);
}

.property-item img {
  width: 100%;
  border-radius: 5px;
}

/* ----------------------MAP CONTAINER--------------------- */
.MapContainer {
  height: 500px;
  width: 100vw;
  margin-bottom: 15rem;
}

/* ----------------------HEADINGS--------------------- */
.heading-listings, .heading-for-properties {
  color: #333;
  text-align: center;
  margin: 20px 0;
}

.heading-for-properties {
  font-size: 3rem;
}

/* ----------------------MEDIA QUERIES--------------------- */
@media (max-width: 768px) {
  .properties-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  }

  .MapContainer {
    height: 300px; 
  }

  .heading-for-properties {
    font-size: 2.5rem; 
  }

  .filter-section {
    flex-direction: column; 
    align-items: center;
  }

  .filter-section select {
    width: 100%; 
  }

  .mobile-menu-icon{
    margin-left: -3rem;
  }

  
}

@media (min-width: 769px) and (max-width: 1440px) {
  .navbar {
    flex-direction: row;
  }

  .properties-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  }

  .MapContainer {
    height: 400px; 
  }

  .heading-for-properties {
    font-size: 2.8rem; 
  }
}
