/* ----------------------NAVBAR--------------------- */
.navbar {
  background-color: #333333;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 10;
  width: 100%;
  box-sizing: border-box; /* Prevent overflow */
}

.logo {
  max-width: 50px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 1rem;
}

.nav-links li a {
  color: #F2F2F2;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #4C6A39;
  border-radius: 5px;
}

.mobile-menu-icon {
  display: none;
}

.login-signup-container {
  display: flex;
  gap: 10px;
}

.login,
.sign-up {
  border: 2px solid white;
  background-color: transparent;
  color: #F2F2F2;
  font-size: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login:hover,
.sign-up:hover {
  background-color: #F2F2F2;
  color: #9C6B30;
}

/* ----------------------PAGE LAYOUT--------------------- */
.listings-page {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #F2F2F2;
  overflow-x: hidden; 
}

.heading-listings,
.heading-for-properties {
  text-align: center;
  color: #333333;
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
  margin: 20px 0;
}

.filter-section {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.filter-section select {
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  background-color: #fff;
  color: #333333;
  font-size: 1rem;
  cursor: pointer;
}

/* ----------------------PROPERTIES LIST--------------------- */
.properties-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 30px; 
}

.properties-list .property-card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  width: calc(50% - 30px); 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
}

/* ----------------------MAP STYLES--------------------- */
.map-container {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}

/* ----------------------FORM STYLES--------------------- */
.page-create {
  padding: 20px;
  background-color: #F2F2F2; 
  border-radius: 5px;
}

.page-create form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.page-create input,
.page-create select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.page-create button {
  padding: 10px;
  background-color: #4C6A39;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page-create button:hover {
  background-color: #9C6B30;
}

/* ----------------------CONTACT US AND FOOTER--------------------- */
footer {
  background-color: #333333;
  color: #F2F2F2;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #F2F2F2;
  text-decoration: none;
}
