/* ----------------------NAVBAR--------------------- */
.navbar {
  background-color: #333333;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 10;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: #F2F2F2;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #4C6A39;
}

.navbar img {
  max-width: 65px;
  height: auto;
}

.mobile-menu-icon {
  display: none;
}

.login-signup-container {
  display: flex;
  gap: 10px;
}

.login, .sign-up {
  border: 1.5px solid white;
  background-color: transparent;
  color: #F2F2F2;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.login:hover, .sign-up:hover {
  background-color: #F2F2F2;
  color: #9C6B30;
}

.nav-links-mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #333333;
  z-index: 1000;
}

.nav-links-mobile li {
  padding: 15px 0;
  text-align: center;
}

.nav-links-mobile li a {
  font-size: 1rem;
  color: #F2F2F2;
}


/* ----------------------FILTER SECTION--------------------- */
.filter-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-section select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* ----------------------PROPERTIES LIST--------------------- */
.properties-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Two properties next to each other */
  gap: 20px;
  padding: 10px;
  margin-bottom: 5rem;
}

.property-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensures the content stays within the card */
}

.property-card:hover {
  transform: scale(1.05);
}

.property-image {
  width: 100%;
  height: 200px; /* Set a fixed height for better layout */
  object-fit: cover; /* This will ensure images cover the space */
}

/* ----------------------MAP CONTAINER--------------------- */
.MapContainer {
  height: 400px; /* Set a height for the map */
  width: 100%;
  margin-bottom: 15rem;
}

/* ----------------------HEADINGS--------------------- */
.heading-listings, .heading-for-properties {
  color: #333;
  text-align: center;
}

.heading-for-properties {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ----------------------MODAL STYLES--------------------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* ----------------------PROPERTY DETAILS--------------------- */
.property-slider {
  margin-bottom: 20px;
}

.property-image {
  width: 100%;
  height: 200px; /* Keep consistent with property card */
  object-fit: cover;
}

.property-details {
  margin-top: 10px;
}
