.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    padding: 10px 20px;
    color: #fff;
    position: relative;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex; 
    gap: 20px;
  }
  
  .nav-links li {
    display: inline; 
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #4C6A39; 
  }
  
  
  .toggle {
    display: none; 
    font-size: 24px;
    cursor: pointer;
  }
  
  
  @media (max-width: 768px) {
    .nav-links {
      display: none; 
      flex-direction: column; 
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      width: 100%; 
      z-index: 1; 
     
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .toggle {
      display: block; 
    }
  }
  