.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 90%; /* Responsive width */
  max-width: 600px; /* Max width */
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-slider {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.property-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.property-details {
  margin: 10px 0;
}

input, textarea {
  width: 100%; 
  padding: 10px;
  margin: 5px 0; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4C6A39;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #3b5a2e; 
}
