* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .contact-us-container {
    background-color: #f2f2f2;
    padding: 4rem 2rem;
   
    margin: 0 10rem 10rem 10rem;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

  }
  
  .contact-title {
    font-size: 2.5rem;
    text-align: center;
    color: #333333;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px #9c6b30;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    
  }
  
  .contact-form label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333333;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 2px solid #9c6b30;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: #fff;
    color: #333333;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border-color: #333333;
  }
  
  .contact-form button {
    background-color: #9c6b30;
    color: #f2f2f2;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #333333;
    color: #f2f2f2;
  }
  
  @media (max-width: 768px) {
    .contact-us-container {
      padding: 2rem;
      margin: 0;
    }
  
    .contact-title {
      font-size: 2rem;
    }
  
    .contact-form button {
      font-size: 1rem;
    }
  }
  

@media (max-width:640px) {
    .contact-us-container{
        margin: 0;
    

    }
}

@media (max-width:1024px) {
    .contact-us-container{
        margin: 0;
    }
}