* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------SLIDER BUTTONS------------------------------------ */

.listings-button{
  width: 300px;
  height: 80px;
  font-size: 1.4rem;
  background-color: #9C6B30;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 65rem;
  margin-top: .5rem;
  font-weight: 600;
  padding: 0 .3rem;
}

.listings-button:hover{
  background-color: #4C6A39;
  transform: scale(1.05);
  transition: background-color .25s ease;
}


.slider-buttons {
  display: flex;
  margin-bottom: 10rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 5px 10px;
 
}

.slider-buttons .button-left {
  width: 110px;
  height: 40px;
  background-color: #9C6B30;
  border: none;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 2px;
  color: #F2F2F2;
  border: 2px solid #4C6A39;
  padding: 5px 10px;
}


.slider-buttons .button-right {
  width: 110px;
  height: 40px ;
 
  background-color: #9C6B30;
  border: none;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 2px;
  color: #F2F2F2;
  border: 2px solid #4C6A39;

}


.button-left:hover{
  transition: background .65s ease;
  background-color: #333333;
  box-shadow: 4px 4px 4px #333333;

}

.button-right:hover{
  transition: background .65s ease;
  background-color: #333333;
  box-shadow: 4px 4px 4px #333333;
}

/* -------------------------------SLIDER BUTTONS------------------------------------ */


/* -------------------------------FEATURED PROPERTIES------------------------------------ */

.featured-properties-container {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 10rem;
  
}

.section-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 30px;
  color: #F2F2F2;
  text-shadow: 3px 3px 3px #333333;
}

.property-card {
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  height: 600px;

}

.property-card:hover {
  transform: translateY(-10px);
}

.property-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.property-title {
  font-size: 1.7rem;
  margin-top: 15px;
  color: #D9D4C7;
}

.property-price {
  font-size: 1.25rem;
  margin-top: 10px;
  color: #9C6B30;
}


.property-features {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 10px;
  height: 50px;
}

.feature {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #F2F2F2;
}

.feature i {
  margin-right: 5px;
  color: #9C6B30;
  font-size: 1.5rem;
}

.property-description {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #4C6A39;
  text-align: center;
  width: auto;
  font-weight: 600;
}


/* -------------------------------FEATURED PROPERTIES------------------------------------ */


/* ----------------------------------------MEDIA SECTION----------------------------------- */

@media (min-width:320px) and (max-width:321px){
  .listings-button{
    margin-left: -1rem;
    transform: scale(.8);
  }

}
@media (min-width:375px) and (max-width:376px){
  .listings-button{
    margin-left: .5rem;
    transform: scale(.8);
  }

}
@media (min-width:425px) and (max-width:426px){
  .listings-button{
    margin-left: 2rem;
    transform: scale(.8);
  }

}

@media(min-width:426px) and (max-width:770px) {

  .section-title {
    font-size: 2.8rem;
  }

  .property-card {
    height: 500px;
  
  }

  .property-description {
    font-size: 1rem;
  }
   
  .feature p{
    font-size: 1rem;
    padding: 0 3px;
  }
  .feature i{
    font-size: .8rem;
  }
 
  .property-image{
    height: 200px;
  }

  .listings-button{
    margin-left: 0;
    transform: scale(.8);
  }

  
}

@media (min-width:770px) and (max-width:1024px) {

  .property-card{
    height: 45rem;

  }
  .listings-button{
    margin-left: 19rem;

    transform: scale(.8);
  }
  
}


/* ----------------------------------------MEDIA SECTION----------------------------------- */