/* navbar.css */
.navbar {
    background-color: #333333;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .navbar img{
    transform: scale(.4);
    display: inline-block;
    margin-left: 10px;
    max-width: 150px; 
    height: auto;
    object-fit: contain; 
    padding: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 1rem;
  }
  
  .nav-links li a {
    color: #F2F2F2;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #4C6A39;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    position: relative;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar li::after {
    content: '';
    position: absolute;
    left: 15px;
    bottom: -5px;
    width: 80%;
    height: 3px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
  }
  
  .navbar li:hover::after {
    transform: scaleX(1);
  }
  
  .mobile-menu-icon {
    display: none;
  }

 
  
  /* -----------------------------MOBILE SECTION-------------------------------- */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .nav-links-mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      width: 100%;
      left: 0;
      background-color: hsl(0, 0%, 5%);
      z-index: 1;
      height: auto;
    }
  
    .nav-links-mobile li {
      padding: 20px;
      text-align: center;
    }
  
    .nav-links-mobile li a {
      font-size: 1rem;
    }
  
    .mobile-menu-icon {
      display: block;
      font-size: 1.4rem;
      color: white;
      background: none;
      border: none;
      cursor: pointer;
      margin-left: 1rem;
    }
  
    .sign-up {
      display: none;
    }
  }
  